In [5]:
# imports
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
import pandas as pd
import category_encoders as ce
from sklearn.preprocessing import StandardScaler

In [3]:
# loading data

# commenting this out while working locally in jupyter notebook
# FILE_PATH = os.path.join(os.path.dirname(__file__), 'data' 'initial_cleaned_data.csv')

FILE_PATH = '/home/zham/DS/model/data/initial_cleaned_data.csv'

df = pd.read_csv(FILE_PATH, index_col=None)

In [4]:
df.head()

                                                name  ... launch_weekday
0                                drawing for dollars  ...              4
1  Sponsor Dereck Blackburn (Lostwars) Artist in ...  ...              1
2                                      Mr. Squiggles  ...              1
3                     Help me write my second novel.  ...              1
4             Support casting my sculpture in bronze  ...              4

[5 rows x 14 columns]

In [23]:
df['launch_month'] = df['launch_month'].apply(lambda x: str(x))
df['launch_day'] = df['launch_day'].apply(lambda x: str(x))
df['launch_weekday'] = df['launch_weekday'].apply(lambda x: str(x))

In [40]:
df['country'] = df['country'].apply(lambda x: 1 if x == 'US' else 0)
df['currency'] = df['currency'].apply(lambda x: 1 if x == 'USD' else 0)

In [41]:
df.head()

                                                name  ... launch_weekday
0                                drawing for dollars  ...              4
1  Sponsor Dereck Blackburn (Lostwars) Artist in ...  ...              1
2                                      Mr. Squiggles  ...              1
3                     Help me write my second novel.  ...              1
4             Support casting my sculpture in bronze  ...              4

[5 rows x 14 columns]

In [52]:
encoder = ce.one_hot.OneHotEncoder(use_cat_names=True)
scaler = StandardScaler()

train = df[df['launch_year'] < 2014]
test = df[df['launch_year'] == 2014]

features = ['goal', 'campaign_length', 'currency', 'country', 'disable_communication']
target = 'final_status'

X_train = df[features]
X_train = encoder.fit_transform(X_train)
X_train = scaler.fit_transform(X_train)

y_train = df[target]


X_test = test[features]
X_test = encoder.transform(X_test)
X_test = scaler.transform(X_test)

y_test = test[target]

In [53]:
X_train

array([[-3.77675650e-02, -2.01412305e+00,  4.18203046e-01,
         4.18203046e-01, -5.47368492e-02],
       [-3.74794690e-02, -1.32028529e+00,  4.18203046e-01,
         4.18203046e-01, -5.47368492e-02],
       [-3.77572758e-02, -1.85993688e+00,  4.18203046e-01,
         4.18203046e-01, -5.47368492e-02],
       ...,
       [-3.74588907e-02, -3.18075191e-01,  4.18203046e-01,
         4.18203046e-01, -5.47368492e-02],
       [-1.77614159e-03, -2.40982106e-01,  4.18203046e-01,
         4.18203046e-01, -5.47368492e-02],
       [-1.20652849e-02,  8.38321077e-01,  4.18203046e-01,
         4.18203046e-01, -5.47368492e-02]])

In [54]:
X_train.shape[1]

5

In [55]:
input_dim = X_train.shape[1]

model = Sequential()

model.add(Dense(63, input_dim=input_dim, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(40, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(10, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(10, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

model.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics='accuracy'
)

model.summary()

Model: "sequential_13"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_52 (Dense)             (None, 63)                378
_________________________________________________________________
dropout_39 (Dropout)         (None, 63)                0
_________________________________________________________________
dense_53 (Dense)             (None, 40)                2560
_________________________________________________________________
dropout_40 (Dropout)         (None, 40)                0
_________________________________________________________________
dense_54 (Dense)             (None, 10)                410
_________________________________________________________________
dropout_41 (Dropout)         (None, 10)                0
_________________________________________________________________
dense_55 (Dense)             (None, 10)                110
_________________________________________________________________
dropout_42 (Dropout)         (None, 10)                0
_________________________________________________________________
dense_56 (Dense)             (None, 1)                 11
=================================================================
Total params: 3,469
Trainable params: 3,469
Non-trainable params: 0
_________________________________________________________________

In [56]:
model = model.fit(x=X_train, 
          y=y_train, 
          epochs=10, 
          )

Epoch 1/10
3380/3380 [==============================] - 13s 4ms/step - loss: 0.6192 - accuracy: 0.6801
Epoch 2/10
3380/3380 [==============================] - 11s 3ms/step - loss: 0.6122 - accuracy: 0.6802
Epoch 3/10
3380/3380 [==============================] - 11s 3ms/step - loss: 0.6104 - accuracy: 0.6801
Epoch 4/10
3380/3380 [==============================] - 12s 4ms/step - loss: 0.6094 - accuracy: 0.6801
Epoch 5/10
3380/3380 [==============================] - 11s 3ms/step - loss: 0.6082 - accuracy: 0.6800
Epoch 6/10
3380/3380 [==============================] - 10s 3ms/step - loss: 0.6073 - accuracy: 0.6802
Epoch 7/10
3380/3380 [==============================] - 9s 3ms/step - loss: 0.6069 - accuracy: 0.6798
Epoch 8/10
3380/3380 [==============================] - 9s 3ms/step - loss: 0.6067 - accuracy: 0.6800
Epoch 9/10
3380/3380 [==============================] - 9s 3ms/step - loss: 0.6062 - accuracy: 0.6802
Epoch 10/10
3380/3380 [==============================] - 9s 3ms/step - loss: 0.6060 - accuracy: 0.6801